/* Name font */
@import url('https://fonts.googleapis.com/css2?family=Rochester&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

/* Scroll modified */

html {
    overflow:   scroll;
  }
  ::-webkit-scrollbar {
      width: 0px;
      background: transparent; /* make scrollbar transparent */
  }

/* Nav */

nav{
    background-color:rgba(255, 255, 255, 0.5);
    width: 100%;
    margin: 0 auto;
}

nav a :hover{
    cursor: pointer;
}

#logo{
    margin-left: 3%;
}

#switch{
    margin-right: 3%;
}

#logoIcon{
    height: 32px;
    width: 32px;
}

/* Home page */

.imagecontainer{
    height: 90vh;
    padding-top: 15%;
}

.homephoto{
    width: 70%;
    height: auto;
    border: 2px solid #eeeeee ;
    border-radius: 100%;
    opacity: 50%;
}

.textcontainer{
    padding-top: 20%;
    padding-left: 10%;
}

#name{
    font-family: 'Rochester', cursive;
    font-size: 76px;
    color: "#000000";
    text-align: center;
}

#designation{
    font-family: 'Roboto Slab', serif;
    font-size: 30px;
    color: "#000000";
    text-align: center;
}

#quote{
    font-family: 'Roboto Slab', serif;
    font-size: 18px;
    color: "#000000";
    text-align: center;
}

.smicons{
    height: 32px;
    width: auto;
    padding-left: 16px;
    padding-right: 16px;
}

.caretanimate{
    animation-duration: 2s;
    animation-iteration-count: infinite;
    transform-origin: bottom;
}

.animatecontainer{
    width: 100%;
    display: block;
    text-align: center;
}

.bounce-2 {
    animation-name: bounce-2;
    animation-timing-function: ease;
}
@keyframes bounce-2 {
    0%   { transform: translateY(0); }
    50%  { transform: translateY(-20px); }
    100% { transform: translateY(0); }
}

/*  About me */

